$body:#0f2105;
$body-light:#20262e;
$grey-6:#666;
$grey-9:#999;
$white:#fff;
$modal-transparent:rgba(244,244,244,0.9);
$rose:#EA4062;
.text-grey-6{color:$grey-6;}
.text-grey-9{color:$grey-9;}

$peach:#ff8f7b;
$peach-transparent:rgba(244,140,55,0.8);
$red:#F21F27;
$blue:#542BFF;
$blue-light:rgba(91,89,241,1);
$green:#A9FAA8;
