// Body
body{
  background:$white;
  @include sans-serif();
  font-size:20px;
  color:$body;
  position:relative;
}
p{
  letter-spacing:0.01em;
  line-height:32px;
  color:$body-light;
}
//Navigation
#logo{
  img{
    width:100px;
  }
}
.navigation{

  line-height:auto;

  color:$body;
  text-align:left;

  .nav-item{
    font-size:2em;
    font-weight:800;
    color:$body;
    text-decoration: none;
    border-top:2px solid $body;
    width:100%;
    display:inline-block;
    &:hover{
      text-decoration:none;
    }
  }

  ul{
    list-style:none;
    margin:0;
    padding:0;
    font-size:1em !important;

    li{
      display:block;
      border-top:2px solid $body;
      padding:10px 0;
      a{
        color:$body;
        text-decoration:none;
      }
    }
  }
}
#navModal{
  background:$peach-transparent;

  .modal-dialog{

    .modal-content{
      background:transparent;
      border:0;

      ul{
        list-style:none;
        margin:0;
        padding:0;
        font-size:6em;
        font-weight:800;
        text-align:center;

        li{

          a{
            color:$white;
            &:hover,&:active{

            }
          }
        }
      }
    }
  }
  .navClose{
    position: absolute;
    top: 15px;
    right: 25px;
    color:$white;
    opacity:1;
  }
}
// Index hero
.fixed-hero{
  background-image:url('../img/cover-alt.jpg');
  background-attachment:fixed;
  background-position:top center;
  background-size:100% 500px;
  background-repeat:no-repeat;
  padding-bottom:60px;

  .issue-cover{

  }
}
#issue-number{
  position:fixed;
  z-index:999;
  top:50%;
  right:0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  transform-origin: 100% 0;
  height:4em;;
  line-height:4em;
  text-align:left;
  color:$white;
  font-size:4em;
}
// Content
.featuring{
  text-align:center;

  .featuring-line{
    border-right:1px solid $body;
    height:60px;
    margin:0 0 5px 0;
  }
  .col{

    ul{
      list-style:none;
      margin:0;
      padding:0;
    }
  }
  .col.featuring-first{
    text-align:right;
    margin-right:3px;
  }
  .col.featuring-last{
    text-align:left;
    margin-left:3px;
    text-transform:uppercase;
  }
}
// Issues Index
.issue{

  small{
    color:$grey-9;
  }
}
@mixin btn-standard($btn-text, $btn-background, $btn-border, $btn-text-hover, $btn-background-hover, $btn-border-hover, $icon-opacity, $icon-opacity-hover){
      color:$btn-text;
      background-color:$btn-background;
      border:2px solid $btn-border;
      letter-spacing:0.04em;
      font-weight:600;
      padding:6px 24px;
      margin:0 12px 12px 0;
      @include border-radius(4px);
      @include transition(all ease-in-out 0.1s);
      @include box-shadow(0 0 0 0 !important);
      &:active, &:hover, &:focus{
        color:$btn-text-hover;
        background-color:$btn-background-hover;
        border:2px solid $btn-border-hover;
        i.fa{
          color:$btn-text-hover;
          opacity:$icon-opacity-hover;
        }
      }
      &:focus{
        outline:1px dotted $peach;
      }
      i.fa{
        margin-right:5px;
        color:$btn-text;
        opacity:$icon-opacity;
      }
    }
.btn-buy, .btn-read{
  @include btn-standard($blue, $white, $blue, $white, $blue, $blue, 0.75, 1);
}
.btn-soldout{
  @include btn-standard($grey-9, $white, $grey-9, $grey-9, $white, $grey-9, 0.75, 1);
  cursor:default;
  color:$grey-9 !important;
}
// Helpers
.margin-bottom-5{margin-bottom:5px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-60{margin-bottom:60px;}
.margin-bottom-90{margin-bottom:90px;}
.margin-bottom-120{margin-bottom:120px;}
.lowercase{
  text-transform:lowercase !important;
}
// Container wraps
.container-wrap--peach{
  width:100%;
  height:100%;
  background-color:$peach;
  padding-top:60px;
}
// Issue carousel
ol.carousel-indicators{

  li{
    width:20px;
    height:20px;
    border:10px solid $white;
    @include border-radius(10px);
    background:transparent;
    margin:0 5px;
  }
  li.active{
    background:$white;
  }
}
.carousel-inner{
  .carousel-item{
    img{
      width:100% !important;
      height:auto !important;
    }
  }
}
// Footer
footer{
  padding:0 0 60px 0;

  ul{
    list-style:none;
    margin:0;
    padding:0;

    li{
      display:inline-block;
      margin:0 5px;
    }
  }
}
// Bootstrap override
