// Body
body{
  background:$white;
  @include sans-serif();
  font-size:20px;
  color:$body;
  position:relative;
}
p{
  letter-spacing:0.01em;
  line-height:32px;
  color:$body-light;
}
h1{
  font-weight:800;
}
h2{
  font-weight:800;
}
// Linx

  a{
    color:$blue;
    border:none;
    text-decoration:none;
    border-bottom:2px solid transparent;
    padding-bottom:1px;
    &:hover{
      color:$blue;
      border-bottom:2px solid $blue;
      padding-bottom:1px;
      text-decoration:none;
    }
    &:focus{
      outline:1px dotted $blue;
    }
  }
// Navigation
#logo{
  img{
    width:100px;
  }
  a{
    border:none !important;
    text-decoration:none;
    &:hover{
      border:none !important;
      text-decoration:none;
    }
  }
}
.navigation{

  line-height:auto;
  color:$body;
  text-align:left;
  .nav-item{
    font-size:2em;
    font-weight:800;
    color:$body;
    text-decoration: none;
    border-top:2px solid $body;
    border-bottom:0 !important;
    padding-bottom:0 !important;
    width:100%;
    display:inline-block;
    &:hover{
      text-decoration:none;
      color:$blue;
      border-color:$blue;
      border-bottom:0 !important;
      padding-bottom:0 !important;
    }
    h1{
      font-size:inherit;
      padding:0;
      margin:0;
      line-height:inherit;
    }
  }
  #nav-shop{
    &:hover:after, &:focus:after{
      font-family:"FontAwesome";
      content:"\f14c";
      font-size:0.6em !important;
      position:absolute;
      top:15px;
      right:15px;
    }
  }
  .nav-item.active{
    color:$blue;
    border-color:$blue;
  }
  ul{
    list-style:none;
    margin:0;
    padding:0;
    font-size:1em !important;

    li{
      display:block;
      border-top:2px solid $body;
      padding:7.5px 0;
      color:$body;
      a{
        color:$body;
        text-decoration:none;
        border:none !important;
        padding-bottom:0;
        &:hover{
          color:$blue;
          border:none !important;
          padding-bottom:0;
        }
      }
    }
  }
}
// Index hero
.issue-cover{
  @include transform(translateZ(1px) rotate(-4deg));
  @include box-shadow(-10px 10px 0px $blue);
}
#issue-number{
  position:fixed;
  z-index:999;
  top:50%;
  right:0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  transform-origin: 100% 0;
  height:4em;;
  line-height:4em;
  text-align:left;
  color:$white;
  font-size:4em;
}
h2.inside-the-issue{
  font-size:2em;
  color:$white;
}
// Content
.featuring{
  text-align:center;

  .featuring-line{
    border-right:1px solid $body;
    height:60px;
    margin:0 0 5px 0;
  }
  .col{

    ul{
      list-style:none;
      margin:0;
      padding:0;
    }
  }
  .col.featuring-first{
    text-align:right;
    margin-right:3px;
  }
  .col.featuring-last{
    text-align:left;
    margin-left:3px;
    text-transform:uppercase;
  }
}
// Issues Index
.issue{

  small{
    color:$grey-9;
  }
}
@mixin btn-standard($btn-text, $btn-background, $btn-border, $btn-text-hover, $btn-background-hover, $btn-border-hover, $icon-opacity, $icon-opacity-hover){
  color:$btn-text;
  background-color:$btn-background;
  border:2px solid $btn-border;
  letter-spacing:0.04em;
  font-weight:600;
  padding:6px 24px;
  margin:0 12px 12px 0;
  @include border-radius(4px);
  @include transition(all ease-in-out 0.1s);
  @include box-shadow(0 0 0 0 !important);
  &:active, &:hover, &:focus{
    color:$btn-text-hover;
    background-color:$btn-background-hover;
    border:2px solid $btn-border-hover;
    padding:6px 24px;
    i.fa{
      color:$btn-text-hover;
      opacity:$icon-opacity-hover;
    }
  }
  &:focus{
    outline:1px dotted $peach;
  }
  i.fa{
    margin-right:5px;
    color:$btn-text;
    opacity:$icon-opacity;
  }
}
.btn-buy, .btn-read{
  @include btn-standard($blue, $white, $blue, $white, $blue, $blue, 0.75, 1);
}
.btn-soldout{
  @include btn-standard($grey-9, $white, $grey-9, $grey-9, $white, $grey-9, 0.75, 1);
  cursor:default;
  color:$grey-9 !important;
}
.btn-l{
  font-size:1.5em;
  padding:15px 30px;
  &:active, &:hover, &:focus{
    padding:15px 30px;
  }
  i.fa{
    margin-right:15px;
  }
}
// About index
.stockist{
  padding:15px;
  background:$white;
  border:2px solid $rose;
  @include border-radius(2px);
  line-height:1.2em;

  a{
    color:$rose;
    margin-bottom:5px;
    &:hover{
      border-color:$rose;
    }
  }
  .stockist-address{
    display:block;
    margin-top:15px;
  }
}
// Helpers
.margin-bottom-5{margin-bottom:5px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-60{margin-bottom:60px;}
.margin-bottom-90{margin-bottom:90px;}
.margin-bottom-120{margin-bottom:120px;}
.lowercase{
  text-transform:lowercase !important;
}
.rotate-06{
  @include transform(rotate(6deg));
}
// Container wraps
.container-wrap--peach{
  width:100%;
  height:100%;
  background-color:$peach;
  padding-top:60px;
}
// Issue carousel
ol.carousel-indicators{
  position:absolute;
  margin:0 5px;

  li{
    width:20px;
    height:20px;
    background:transparent;
    margin:0 5px;
    border:3px solid $white;
    @include border-radius(2px);

    &:hover{
      border-color:$body;
    }
  }
  li.active{
    background:$white;
    &:hover{
      border-color:$white;
    }
  }
}
.arrow-left {
  display:inline-block;
  border-bottom:4px solid $white;
  border-left:4px solid $white;
  width:15px;
  height:15px;
  @include transform(rotate(45deg));
  @include border-radius(2px);
}
.arrow-right {
  display:inline-block;
  border-bottom:4px solid $white;
  border-right:4px solid $white;
  width:15px;
  height:15px;
  @include transform(rotate(-45deg));
  @include border-radius(2px);
}
.arrow-left,.arrow-right{
  &:hover{
    border-color:$body;
    border-width:4px;
  }
}
.rotate-01{
  @include transform(rotate(-1deg));
}

// Footer
footer{

  a{
    color:$body;
    text-decoration:none;
    &:hover{
      text-decoration:none;
      color:$blue;
    }
  }

  .nav-item{
    font-size:1em;
    font-weight:400;
    margin-right:15px;
    color:$body;
    border-bottom:none;
    text-decoration:none;
    &:hover{
      color:$blue;
      border:none;
      text-decoration:none;
    }
  }
  .nav-item.active{
    color:$blue;
  }

  ul{
    list-style:none;
    margin:0;
    padding:0;

    li{
      display:inline-block;
      margin:0 5px;
    }
  }
}
// Bootstrap override
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}
// Media Queries
@media only screen
and (max-width : 550px) {
  .navigation{
    .nav-item{
      font-size:1.6em;
    }
    ul{
      font-size:0.8em !important;
    }
    #nav-shop{
      &:hover:after, &:focus:after{
        top:10px;
      }
    }
  }
  .issue-cover{
    @include transform(translateZ(1px) rotate(0deg));
    @include box-shadow(0 10px 0px -4px $blue);
  }
}
