body{
  background:$white;
  @include sans-serif();
  font-size:20px;
  color:$body;
  position:relative;
}
.fixed-hero{
  background-image:url('../img/cover-alt.jpg');
  max-height:900px;
  background-attachment:fixed;
  background-position:center;
  background-repteat:no-repeat;
  background-size:cover;
  margin-bottom:60px;
}
#logo{

  top:0;
  left:15px;
  z-index:999;
}
#navigation{

  z-index:999;
  font-size:1em;
  line-height:auto;
  font-weight:400;
  color:$white;
  text-align:center;

  ul{
    list-style:none;
    margin:0;
    padding:0 7.5px;


    li{
      display:block;
      border-top:1px solid $white;
      padding:10px 0;
      &:first-child{
        border:none;
        font-size:1em;
      }
      a{
        color:$white;
        text-decoration:none;
        padding:0 7.5px;
      }
    }
  }
}
.issue-cover{
  width: 40%;
  position: relative;
  z-index: 2000;
  top: 100px;
  left: 40%;
  margin-left: -10%;
}
#issue-number{
  position:fixed;
  z-index:999;
  top:50%;
  right:0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  transform-origin: 100% 0;
  height:4em;;
  line-height:4em;
  text-align:left;
  color:$white;
  font-size:4em;
}
.featuring{
  text-align:center;

  .featuring-line{
    border-right:1px solid $body;
    height:60px;
    margin:0 0 5px 0;
  }

  .col{

    ul{
      list-style:none;
      margin:0;
      padding:0;
    }
  }
  .col.featuring-first{
    text-align:right;
    margin-right:3px;
  }
  .col.featuring-last{
    text-align:left;
    margin-left:3px;
    text-transform:uppercase;
  }
}
// TEXT
p{
  letter-spacing:0.01em;
  line-height:32px;
  color:$body-light;
}
.lowercase{
  text-transform:lowercase !important;
}
// Helpers
.margin-bottom-15{margin-bottom:15px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-60{margin-bottom:60px;}
.margin-bottom-90{margin-bottom:90px;}
.margin-bottom-120{margin-bottom:120px;}

// Bootstrap override
ol.carousel-indicators{
  bottom:30px;

  li{
    width:0;
    height:0;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-bottom:15px solid $white;
    background:transparent;
    margin:0 5px;
  }
  li.active{
    border-bottom:15px solid $grey-9;
    background:transparent;
  }
}
