---
layout: default
---
<div class="fixed-hero">
  {% include nav.html %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <img class="issue-cover img-fluid" src="{{ site.github.url }}/assets/img/issue-7-cover.jpg" />
      </div>
    </div>
  </div>
</div>

{% include issue-carousel.html %}
{% include contributors.html %}

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 offset-lg-3 offset-md-3 offset-sm-2">
      <h1>Index</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus euismod euismod. Sed elit est, iaculis a rhoncus convallis, fringilla a nulla. Nam hendrerit pretium arcu, at dapibus libero. Curabitur non nibh sit amet purus posuere finibus. Donec lacinia porttitor tortor.</p>
      <p>Sed magna felis, auctor sed dapibus cursus, iaculis sit amet urna. Proin elementum commodo finibus. Sed varius euismod tellus. Nullam at ligula tempor libero maximus gravida. Duis a pellentesque purus, non pharetra risus. Phasellus auctor libero eget egestas varius. Mauris porta ipsum sed lectus porta iaculis.</p>
      <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi tristique, elit a ullamcorper egestas, massa enim sagittis lacus, et mattis lectus dolor at nunc. Suspendisse et sagittis eros, fermentum pellentesque dolor. Pellentesque sapien leo, bibendum et aliquet vel, placerat id arcu. Etiam sit amet leo in ante luctus ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean et nulla quis lacus eleifend elementum vitae nec tortor. Pellentesque imperdiet, tellus in dignissim sagittis, justo sapien pretium felis, sed egestas mauris velit a nisi.</p>
      <p>Fusce id ante feugiat, facilisis felis vitae, mollis dolor. Curabitur scelerisque velit et turpis ornare, faucibus aliquet nunc interdum. Fusce eget porttitor nisi. Ut est tellus, semper feugiat tempor eu, laoreet quis lacus. Etiam non augue quis lacus aliquam vehicula at in ligula. Donec volutpat volutpat scelerisque.</p>
    </div>
  </div>
</div>
