<div class="col-md-5 mt-4">
  <div class="row no-gutters featuring my-1 py-1 my-sm-4 pt-sm-4">
    <div class="col-12">
      <small class="d-block mb-2"><a href="/about#stockists" title="The Bushwick Review stockists">In Stores</a> &amp; <a href="http://thebushwickreview.bigcartel.com/product/the-bushwick-review-viii" title="Buy Issue No. 8 online at Big Cartel" target="_blank" rel="noopener noreferrer">Online</a></small>
      <h1 class="mb-4 pb-2 pb-sm-4">The Bushwick Review Issue No. 8</h1>
      <strong>Featuring contributions by</strong>
      <div class="row">
        <div class="col featuring-line"></div>
        <div class="col"></div>
      </div>
    </div>
    <div class="col featuring-first">
      <ul>
        <li>Susana</li>
        <li>Sarah Jean</li>
        <li>Jane</li>
        <li>Max</li>
        <li>William</li>
        <li>Liz</li>
        <li>Nora</li>
        <li>Constance</li>
        <li>Oscar</li>
        <li>Genise</li>
        <li>Kenton</li>
        <li>Katya</li>
        <li>Taleen</li>
        <li>Annu</li>
        <li>Neon</li>
        <li>Rebecca</li>
        <li>Sheryl</li>
        <li>Janelle</li>
        <li>Michele</li>
        <li>Derrick</li>
        <li>Lucy K</li>
        <li>Bud</li>
        <li>Thom</li>
        <li>Sadie Rebecca</li>
      </ul>
    </div>
    <div class="col featuring-last">
      <ul>
        <li>Aho</li>
        <li>Alexander</li>
        <li>Argodale</li>
        <li>Baitinger</li>
        <li>Bottini</li>
        <li>Bowen</li>
        <li>Colie</li>
        <li>Crane</li>
        <li>D’artois</li>
        <li>Deal</li>
        <li>D<span class="lowercase">e</span>angeli</li>
        <li>Dorokina</li>
        <li>Kali</li>
        <li>Kilpeläinen</li>
        <li>Saltwater</li>
        <li>Nison</li>
        <li>Oppenheim</li>
        <li>Poe</li>
        <li>Rosenthal</li>
        <li>Schultz</li>
        <li>Shaw</li>
        <li>Smith</li>
        <li>Smith</li>
        <li>Starnes</li>
      </ul>
    </div>
  </div>
</div>
