<div class="col-md-5 mt-4">
  <div class="row no-gutters featuring my-1 py-1 my-sm-4 pt-sm-4">
    <div class="col-12">
      <small class="d-block mb-2"><a href="{{ site.github.url }}/about#stockists" title="The Bushwick Review stockists">In Stores</a> &amp; <a href="http://thebushwickreview.bigcartel.com/product/the-bushwick-review-vii" title="Buy Issue No. 7 online at Big Cartel" target="_blank" rel="noopener noreferrer">Online</a></small>
      <h1 class="mb-4 pb-2 pb-sm-4">The Bushwick Review Issue No. 7</h1>
      <strong>Featuring contributions by</strong>
      <div class="row">
        <div class="col featuring-line"></div>
        <div class="col"></div>
      </div>
    </div>
    <div class="col featuring-first">
      <ul>
        <li>Sarah Jean</li>
        <li>Alison</li>
        <li>Chris</li>
        <li>Dexter</li>
        <li>Oscar</li>
        <li>Genise Paige</li>
        <li>Kenton</li>
        <li>Kristen</li>
        <li>Zebadiah</li>
        <li>Adam J.</li>
        <li>Sheryl</li>
        <li>Phil</li>
        <li>Michele</li>
        <li>Bud</li>
        <li>Thom</li>
        <li>Sadie Rebecca</li>
        <li>Tim</li>
        <li>Corliss Elizabeth</li>
        <li>Phillip D.</li>
        <li>Taylor</li>
      </ul>
    </div>
    <div class="col featuring-last">
      <ul>
        <li>Alexander</li>
        <li>Breaden</li>
        <li>Chai</li>
        <li>Ciprian</li>
        <li>D'Artois</li>
        <li>Deal</li>
        <li>D<span class="lowercase">e</span>angeli</li>
        <li>Felicetti</li>
        <li>Keneally</li>
        <li>Kurtz</li>
        <li>Oppenheim</li>
        <li>Pierce</li>
        <li>Rosenthal</li>
        <li>Smith</li>
        <li>Smith</li>
        <li>Starnes</li>
        <li>Vienckowski</li>
        <li>Williams</li>
        <li>Williams, S<span class="lowercase">r</span>.</li>
        <li>Yates</li>
      </ul>
    </div>
  </div>
</div>
