<footer>
  <div class="container">
    <div class="row mt-4 pt-4 mb-4 pb-4 justify-content-between">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 order-2 order-sm-2 order-md-1">
        <a href="{{ site.github.url }}/" title="Home">The Bushwick Review</a>
        <span class="text-grey-9 d-block">Issue No. 7 &bull; Summer 2017</span>
        <small class="text-grey-9">&copy; 2009 - {{ 'now' | date: "%Y" }}</small>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 order-1 order-sm-1 order-md-2 mb-4 pb-3 text-left text-sm-left text-md-right">
        <a class="nav-item footer-external {% if page.nav == 'shop' %}active{% endif %}" target="_blank" rel="noopener nofollow" href="http://thebushwickreview.bigcartel.com/products">Shop</a>
        <a class="nav-item {% if page.nav == 'issues' %}active{% endif %}" href="{{ site.github.url }}/issues">Issues</a>
        <a class="nav-item {% if page.nav == 'about' %}active{% endif %}" href="{{ site.github.url }}/about">About</a>
        <a href="https://www.instagram.com/bushwickreview/" class="pull-right ml-4" title="Follow The Bushwick Review on Instagram" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
{% include analytics.html %}
</body>
</html>
