<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul>
          <li class="pull-left">The Bushwick Review | ISSUE NO. 7 | SUMMER 2017</li>
          <li class="pull-right">
            <a id="nav-shop-footer" href="http://thebushwickreview.bigcartel.com/">Shop</a>
            <a id="nav-issues-footer" href="{{ site.github.url }}/issues">Issues</a>
            <a id="nav-about-footer" href="{{ site.github.url }}/about">About</a>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% include analytics.html %}
</body>
</html>
