<div id="logo">
  <a href="/"><img class="img-fluid" src="{{ site.baseurl }}/assets/img/bushwick-review-logo.png" alt="The Bushwick Review" title="The Bushwick Review" /></a>
</div>
<nav id="navigation">
  <ul>
    <li><a id="nav-store" href="http://thebushwickreview.bigcartel.com/">Store <i class="fa fa-external-link-square" aria-hidden="true"></i></a></li>
    <li><a id="nav-issues" href="/issues">Issues</a></li>
    <li><a id="nav-news" href="/news">News</a></li>
    <li><a id="nav-about" href="/about">About</a></li>
  </ul>
</nav>
<div id="issue-number">
  issue no. 7
</div>
