---
layout: default
title: About
nav: about
metadata: true
og-title: About The Bushwick Review
og-description: The Bushwick Review is a literary and art magazine that features over 20 contributors each issue. Over the years, we've featured short stories, essays, poetry, photography, paintings, drawings, architecture, plays, comics (basically anything that can be printed on a black and white page). The current issue is always only available in print.
og-image: https://i.ytimg.com/vi/zbCbwP6ibR4/maxresdefault.jpg
js-head:
- jquery.matchHeight.min.js
---
{% include nav.html %}
<div class="container">
  <div class="row">
    <div class="col-md-8 mb-4 pb-4">
      <h2 class="mb-3">Who Dat</h2>
      <p>The Bushwick Review is a literary and art magazine that features over 20 contributors each issue. Over the years, we've featured short stories, essays, poetry, photography, paintings, drawings, architecture, plays, comics (basically anything that can be printed on a black and white page). The current issue is always only available in print.</p>
      <p>Our home base is Brooklyn, but our contributors live all over the world. We've been around for a few years and multiple issues, but we are interested in making art and writing that speaks to being alive in 2017.</p>
      <p>The Bushwick Review is edited by <a href="http://kristenfelicetti.com/">Kristen Felicetti</a> and designed by <a href="http://timtimtimtim.com/">Tim Vienckowski</a>.</p>
      <p>
       <strong>Contact</strong> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Say hi! We're nice: <a href="mailto:bushwickreview@gmail.com">bushwickreview@gmail.com</a>
      </p>
    </div>
    <div class="col-md-12 mb-4 pb-4">
      <div class="row">
        <div class="col-md-12 mb-3">
          <h2>Stockists</h2>
        </div>
        {% for stockist in site.data.stockists.stockists %}
          <div class="col-md-4 mb-4 pb-2 s-{{ stockist.id }}">
            <div class="stockist match-height">
              <a href="{{ stockist.url }}">{{ stockist.name }}</a><br />
              {{ stockist.address }}<br />
              {{ stockist.city }}, {{ stockist.state }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 mb-4">
      <div class="row">
        <div class="col-md-12 mb-3">
          <h2>Press</h2>
        </div>
        {% for press-clip in site.data.press-clips.press-clips %}
          <div class="col-md-12 mb-4 p-{{ press-clip.id }}">
            <a href="{{ press-clip.url }}" target="_blank" rel="noopener noreferrer">{{ press-clip.name }}</a><br />
            <small class="">
              <span class="pull-left">{{ press-clip.title }}<span>
              <span class="pull-right">{{ press-clip.month }} | {{ press-clip.day }} | {{ press-clip.year }}</span>
            </small>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
