---
layout: default
---
{% include nav.html %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Issues</h1>
    </div>
    {% for issue in site.data.issues.issues %}
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin-bottom-60 issue issue-{{ issue.id }}">
        {% if issue.buy-url != null %}
          <a href="{{ issue.buy-url }}"><img class="img-fluid margin-bottom-15" alt="Buy The Bushwick Review Issue {{ issue.number }}" title="Buy The Bushwick Review Issue {{ issue.number }}" src="{{ site.github.url }}/assets/img/{{ issue.img }}"  /></a>
          <a href="{{ issue.buy-url }}">{{ issue.name }} {{ issue.number }}<a/><br />
        {% else %}
          <img class="img-fluid margin-bottom-15" alt="The Bushwick Review Issue {{ issue.number }}" title="The Bushwick Review Issue {{ issue.number }}" src="{{ site.github.url }}/assets/img/{{ issue.img }}"  />
          {{ issue.name }} {{ issue.number }}<br />
        {% endif %}
        {% if issue.description != null %}
          <small>{{ issue.description }}</small>
        {% endif %}
        <br />$ {{ issue.price }}<br />
        {% if issue.buy-url != null %}
          <a class="btn btn-buy" href="{{ issue.buy-url }}"><i class="fa fa-diamond" aria-hidden="true"></i> Buy</a>
        {% elsif issue.sold-out == true %}
          <a class="btn btn-soldout"><i class="fa fa-meh-o" aria-hidden="true"></i> Sold Out</a>
        {% endif %}
        <a class="btn btn-read" href="{{ issue.read-url }}"> <i class="fa fa-file-o" aria-hidden="true"></i> Read</a><br />

      </div>
    {% endfor %}
  </div>
</div>
