---
layout: default
title: Issues
nav: issues
metadata: true
og-title: Issues - The Bushwick Review
og-description: The Bushwick Review is a literary and art magazine that features over 20 contributors each issue. Over the years, we've featured short stories, essays, poetry, photography, paintings, drawings, architecture, plays, comics, and more. The current issue is always only available in print.
og-image: http://www.thebushwickreview.com/assets/img/the-bushwick-review-issue-7-og.jpg
---
{% include nav.html %}
{% comment %}MOBILE VIEW{% endcomment %}
<div class="row no-gutters d-block d-sm-none">
  {% for issue in site.data.issues.issues %}
    {% if issue.buy-url != null %}
      <a href="{{ issue.buy-url }}" target="_blank" rel="noopener noreferrer">
        <img class="img-fluid mb-2" alt="Buy The Bushwick Review Issue {{ issue.number }} on Big Cartel" title="Buy The Bushwick Review Issue {{ issue.number }} on Big Cartel" src="{{ site.github.url }}/assets/img/{{ issue.img }}"  />
      </a>
    {% else %}
      <img class="img-fluid mb-2" alt="The Bushwick Review Issue {{ issue.number }}" title="The Bushwick Review Issue {{ issue.number }}" src="{{ site.github.url }}/assets/img/{{ issue.img }}"  />
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4 pb-sm-2 issue issue-{{ issue.id }}">
          {% if issue.buy-url != null %}
            <a href="{{ issue.buy-url }}" target="_blank" rel="noopener noreferrer">{{ issue.name }} {{ issue.number }}</a>
          {% else %}
            {{ issue.name }} {{ issue.number }}
          {% endif %}
          {% if issue.description != null %}
            <small class="d-block mb-1">{{ issue.description }}</small>
          {% endif %}
          $ {{ issue.price }}
          <div class="d-block mt-2">
            {% if issue.buy-url != null %}
              <a class="btn btn-buy" href="{{ issue.buy-url }}" target="_blank" rel="noopener noreferrer" title="Buy The Bushwick Review Issue {{ issue.number }} on Big Cartel"><i class="fa fa-diamond" aria-hidden="true"></i> Buy</a>
            {% elsif issue.sold-out == true %}
              <a class="btn btn-soldout"><i class="fa fa-meh-o" aria-hidden="true"></i> Sold Out</a>
            {% endif %}
            {% if issue.read-url != null %}
              <a class="btn btn-read" href="{{ issue.read-url }}" title="Read The Bushwick Review Issue {{ issue.number }} on Issu" target="_blank" rel="noopener noreferrer"> <i class="fa fa-file-o" aria-hidden="true"></i> Read</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% comment %}DESKTOP VIEW{% endcomment %}
<div class="container d-none d-sm-block">
  <div class="row">
    {% for issue in site.data.issues.issues %}
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4 pb-sm-2 issue issue-{{ issue.id }}">
        {% if issue.buy-url != null %}
          <a href="{{ issue.buy-url }}" target="_blank" rel="noopener noreferrer">
            <img class="img-fluid mb-2" alt="Buy The Bushwick Review Issue {{ issue.number }} on Big Cartel" title="Buy The Bushwick Review Issue {{ issue.number }} on Big Cartel" src="{{ site.github.url }}/assets/img/{{ issue.img }}"  />
          </a>
          <a href="{{ issue.buy-url }}">{{ issue.name }} {{ issue.number }}</a>
        {% else %}
          <img class="img-fluid mb-2" alt="The Bushwick Review Issue {{ issue.number }}" title="The Bushwick Review Issue {{ issue.number }}" src="{{ site.github.url }}/assets/img/{{ issue.img }}"  />
          {{ issue.name }} {{ issue.number }}
        {% endif %}
        {% if issue.description != null %}
          <small class="d-block mb-1">{{ issue.description }}</small>
        {% endif %}
        $ {{ issue.price }}
        <div class="d-block mt-2">
          {% if issue.buy-url != null %}
            <a class="btn btn-buy" href="{{ issue.buy-url }}" target="_blank" rel="noopener noreferrer" title="Buy The Bushwick Review Issue {{ issue.number }} on Big Cartel"><i class="fa fa-diamond" aria-hidden="true"></i> Buy</a>
          {% elsif issue.sold-out == true %}
            <a class="btn btn-soldout"><i class="fa fa-meh-o" aria-hidden="true"></i> Sold Out</a>
          {% endif %}
          {% if issue.read-url != null %}
            <a class="btn btn-read" href="{{ issue.read-url }}" title="Read The Bushwick Review Issue {{ issue.number }} on Issu" target="_blank" rel="noopener noreferrer"> <i class="fa fa-file-o" aria-hidden="true"></i> Read</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
